{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <a class="nav-link text-light" href="">{{request.user}}</a>
    <a class="nav-link text-light" href="{% url 'statement' %}">Statement</a>
    <a class="nav-link text-light" href="{% url 'settings' %}">Settings</a>
    <a class="nav-link text-light" href="{% url 'logout' %}">Log out</a>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        {% if messages %}
            {% for message in messages %}
            <div class="container" style="position: absolute;z-index: 10000;">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <p class="m-0">{{message}}</p>
                            <button class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="row mb-3">
            <div class="col-3">
                <div class="container" style="color: #00724c;">
                    <h1>Movements</h1>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-end">
                    <div class="col col-auto">
                        <a href="{% url 'add_movement' %}" class="btn" style="background-color: #00724c;color: white;"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 ms-lg-3">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Account</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col" style="text-align: right">Import</th>
                        <th scope="col" style="text-align: right"><i class="fa-solid fa-dollar-sign"></i></th>   
                    </tr>
                </thead>
                <tbody>
                    {% for mov in movements %}
                    <tr>
                        <td style="text-align: left">
                            <div class="dropdown dropend">
                                <i class="fa-solid fa-bars btn" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'edit_movement' mov.id %}"><i class="fa-solid fa-pen-to-square"></i><span class="text">  Edit</span></a></li>
                                    <li><a class="dropdown-item" href="{% url 'delete_movement' mov.id %}"><i class="fa-solid fa-trash-can"></i><span class="text">  Delete</span></a></li>
                                </ul>
                            </div> 
                        </td> 
                        <td>{{ mov.movement_date|date:"m/d/Y" }}</td>
                        <td>{{ mov.account }}</td>
                        {% if mov.category == None %}
                            <td></td>
                        {% else %}
                            <td>{{ mov.category }}</td>
                        {% endif %}
                        {% if mov.movement_description == None %}
                            <td></td>
                        {% else %}
                            <td>{{ mov.movement_description }}</td>
                        {% endif %}
                        {% if mov.movement_direction == 'OUT' %}
                            <td style="color: red;text-align: right">
                                -{{mov.movement_amount}}
                            </td>
                        {% elif mov.movement_direction == 'IN' %}
                            <td style="color: green;text-align: right">
                                {{mov.movement_amount}}
                            </td>
                        {% endif %} 
                        <td style="text-align: right">{{mov.account.currency}}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}



