{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <a class="nav-link text-light" href="{% url 'statement' %}">Statement</a>
    <a class="nav-link text-light" href="{% url 'settings' %}">Settings</a>
    <a class="nav-link text-light" href="{% url 'logout' %}">Log out</a>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="container" style="color: #00724c;">
                    <h1>Password changed successfully</h1>
                </div>
            </div>
        </div>
    </div>       
{% endblock %}