{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
    <a class="nav-link text-light" href="{% url 'home' %}">Home</a>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="container" style="color: #00724c;">
                    <h1>Check your inbox</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="container">
                    <h4>We sent you an email with a link to complete the process. If you can't see it, please, check your spam folder.</h4>
                </div>
            </div>
        </div>
    </div>       
{% endblock %}